body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333; /* #111 */
  overflow-x: hidden;
  transition: 0.25s; /* moved to js */
  padding-top: 60px;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: auto;

}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.25s; /* moved to js */
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #333; /* #111 */
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;  /* moved to js */
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sidebar_search{
    background: #eee;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    border: 0 none;
    width: 160px;
    margin-left: 20px;
}

.sidebar_btn{
    /* margin-left: 20px; */
    align: center;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-left: 20;
    margin-right: 10;
    height: 30;
}