<h1>HTML</h1>

<h2>Basic elements</h2>

<h3>Button</h3>

<div class="codehilite"><pre><span></span><code><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">meta</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;viewport&quot;</span> <span class="na">content</span><span class="o">=</span><span class="s">&quot;width=device-width, initial-scale=1&quot;</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">style</span><span class="p">&gt;</span>
<span class="p">.</span><span class="nc">button</span> <span class="p">{</span>
    <span class="k">background-color</span><span class="p">:</span> <span class="mh">#4CAF50</span><span class="p">;</span> <span class="c">/* Green */</span>
    <span class="k">border</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span>
    <span class="k">color</span><span class="p">:</span> <span class="kc">white</span><span class="p">;</span>
    <span class="k">padding</span><span class="p">:</span> <span class="mi">20</span><span class="kt">px</span><span class="p">;</span>
    <span class="k">text-align</span><span class="p">:</span> <span class="kc">center</span><span class="p">;</span>
    <span class="k">text-decoration</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span>
    <span class="k">display</span><span class="p">:</span> <span class="kc">inline-block</span><span class="p">;</span>
    <span class="k">font-size</span><span class="p">:</span> <span class="mi">16</span><span class="kt">px</span><span class="p">;</span>
    <span class="k">margin</span><span class="p">:</span> <span class="mi">4</span><span class="kt">px</span> <span class="mi">2</span><span class="kt">px</span><span class="p">;</span>
    <span class="k">cursor</span><span class="p">:</span> <span class="kc">pointer</span><span class="p">;</span>
<span class="p">}</span>

<span class="p">.</span><span class="nc">button1</span> <span class="p">{</span><span class="k">border-radius</span><span class="p">:</span> <span class="mi">2</span><span class="kt">px</span><span class="p">;}</span>
<span class="p">.</span><span class="nc">button2</span> <span class="p">{</span><span class="k">border-radius</span><span class="p">:</span> <span class="mi">4</span><span class="kt">px</span><span class="p">;}</span>
<span class="p">.</span><span class="nc">button3</span> <span class="p">{</span><span class="k">border-radius</span><span class="p">:</span> <span class="mi">8</span><span class="kt">px</span><span class="p">;}</span>
<span class="p">.</span><span class="nc">button4</span> <span class="p">{</span><span class="k">border-radius</span><span class="p">:</span> <span class="mi">12</span><span class="kt">px</span><span class="p">;}</span>
<span class="p">.</span><span class="nc">button5</span> <span class="p">{</span><span class="k">border-radius</span><span class="p">:</span> <span class="mi">50</span><span class="kt">%</span><span class="p">;}</span>
<span class="p">&lt;/</span><span class="nt">style</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">h2</span><span class="p">&gt;</span>Rounded Buttons<span class="p">&lt;/</span><span class="nt">h2</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>Add rounded corners to a button with the border-radius property:<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;button button1&quot;</span><span class="p">&gt;</span>2px<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;button button2&quot;</span><span class="p">&gt;</span>4px<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;button button3&quot;</span><span class="p">&gt;</span>8px<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;button button4&quot;</span><span class="p">&gt;</span>12px<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;button button5&quot;</span><span class="p">&gt;</span>50%<span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>

<span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</code></pre></div>

<h3>Checkbox</h3>

<div class="codehilite"><pre><span></span><code><span class="p">&lt;</span><span class="nt">input</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;checkBox&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;checkbox&quot;</span><span class="p">&gt;</span>
</code></pre></div>

<h4>Text is clickable</h4>

<div class="codehilite"><pre><span></span><code>  <span class="p">&lt;</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;checkbox&quot;</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;coding&quot;</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;interest&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;coding&quot;</span> <span class="na">checked</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">label</span> <span class="na">for</span><span class="o">=</span><span class="s">&quot;coding&quot;</span><span class="p">&gt;</span>Coding<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</code></pre></div>

<h3>searchbox</h3>

<div class="codehilite"><pre><span></span><code><span class="p">#</span><span class="nn">namanyay-search-btn</span> <span class="p">{</span>
<span class="k">background</span><span class="p">:</span><span class="mh">#0099ff</span><span class="p">;</span>
<span class="k">color</span><span class="p">:</span><span class="kc">white</span><span class="p">;</span>
<span class="k">font</span><span class="p">:</span> <span class="s1">&#39;trebuchet ms&#39;</span><span class="p">,</span> <span class="n">trebuchet</span><span class="p">;</span>
<span class="k">padding</span><span class="p">:</span><span class="mi">10</span><span class="kt">px</span> <span class="mi">20</span><span class="kt">px</span><span class="p">;</span>
<span class="k">border-radius</span><span class="p">:</span><span class="mi">0</span> <span class="mi">10</span><span class="kt">px</span> <span class="mi">10</span><span class="kt">px</span> <span class="mi">0</span><span class="p">;</span>
<span class="kp">-moz-</span><span class="k">border-radius</span><span class="p">:</span><span class="mi">0</span> <span class="mi">10</span><span class="kt">px</span> <span class="mi">10</span><span class="kt">px</span> <span class="mi">0</span><span class="p">;</span>
<span class="kp">-webkit-</span><span class="k">border-radius</span><span class="p">:</span><span class="mi">0</span> <span class="mi">10</span><span class="kt">px</span> <span class="mi">10</span><span class="kt">px</span> <span class="mi">0</span><span class="p">;</span>
<span class="kp">-o-</span><span class="k">border-radius</span><span class="p">:</span><span class="mi">0</span> <span class="mi">10</span><span class="kt">px</span> <span class="mi">10</span><span class="kt">px</span> <span class="mi">0</span><span class="p">;</span>
<span class="k">border</span><span class="p">:</span><span class="mi">0</span> <span class="kc">none</span><span class="p">;</span>
<span class="k">font-weight</span><span class="p">:</span><span class="kc">bold</span><span class="p">;</span>
<span class="p">}</span>

<span class="p">#</span><span class="nn">namanyay-search-box</span> <span class="p">{</span>
<span class="k">background</span><span class="p">:</span> <span class="mh">#eee</span><span class="p">;</span>
<span class="k">padding</span><span class="p">:</span><span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
 <span class="k">border-radius</span><span class="p">:</span><span class="mi">10</span><span class="kt">px</span> <span class="mi">0</span> <span class="mi">0</span> <span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="kp">-moz-</span><span class="k">border-radius</span><span class="p">:</span><span class="mi">10</span><span class="kt">px</span> <span class="mi">0</span> <span class="mi">0</span> <span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="kp">-webkit-</span><span class="k">border-radius</span><span class="p">:</span><span class="mi">10</span><span class="kt">px</span> <span class="mi">0</span> <span class="mi">0</span> <span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="kp">-o-</span><span class="k">border-radius</span><span class="p">:</span><span class="mi">10</span><span class="kt">px</span> <span class="mi">0</span> <span class="mi">0</span> <span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="k">border</span><span class="p">:</span><span class="mi">0</span> <span class="kc">none</span><span class="p">;</span>
<span class="k">width</span><span class="p">:</span><span class="mi">160</span><span class="kt">px</span><span class="p">;</span>
 <span class="p">}</span>
</code></pre></div>

<div class="codehilite"><pre><span></span><code><span class="p">&lt;</span><span class="nt">form</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;searchthis&quot;</span> <span class="na">action</span><span class="o">=</span><span class="s">&quot;/search&quot;</span> <span class="na">style</span><span class="o">=</span><span class="s">&quot;display:inline;&quot;</span> <span class="na">method</span><span class="o">=</span><span class="s">&quot;get&quot;</span><span class="p">&gt;</span>
  <span class="c">&lt;!-- Search box for blogger by Namanyay Goel //--&gt;</span>
  <span class="p">&lt;</span><span class="nt">input</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;namanyay-search-box&quot;</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;q&quot;</span> <span class="na">size</span><span class="o">=</span><span class="s">&quot;40&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text&quot;</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">&quot;  Type! :D &quot;</span><span class="p">/&gt;</span>
  <span class="p">&lt;</span><span class="nt">input</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;namanyay-search-btn&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;Search&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;submit&quot;</span><span class="p">/&gt;</span>
<span class="p">&lt;/</span><span class="nt">form</span><span class="p">&gt;</span>
</code></pre></div>

<h2>Turn off Form Autocompletion</h2>

<h3>username</h3>

<div class="codehilite"><pre><span></span><code><span class="p">&lt;</span><span class="nt">input</span> <span class="na">autocomplete</span><span class="o">=</span><span class="s">&quot;nope&quot;</span><span class="p">&gt;</span>
</code></pre></div>

<h3>password</h3>

<div class="codehilite"><pre><span></span><code><span class="p">&lt;</span><span class="nt">input</span> <span class="na">autocomplete</span><span class="o">=</span><span class="s">&quot;new-password&quot;</span><span class="p">&gt;</span>
</code></pre></div>

<h3>All the rest</h3>

<div class="codehilite"><pre><span></span><code><span class="p">&lt;</span><span class="nt">input</span> <span class="na">autocomplete</span><span class="o">=</span><span class="s">&quot;off&quot;</span><span class="p">&gt;</span>
</code></pre></div>

<h3>Reference</h3>

<ul>
<li>https://developer.mozilla.org/en-US/docs/Web/Security/Securing<em>your</em>site/Turning<em>off</em>form_autocompletion</li>
</ul>

<h2>Disable text selection from an element</h2>

<div class="codehilite"><pre><span></span><code><span class="p">.</span><span class="nc">noselect</span> <span class="p">{</span>
  <span class="kp">-webkit-</span><span class="n">touch-callout</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span> <span class="c">/* iOS Safari */</span>
    <span class="kp">-webkit-</span><span class="k">user-select</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span> <span class="c">/* Safari */</span>
     <span class="kp">-khtml-</span><span class="k">user-select</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span> <span class="c">/* Konqueror HTML */</span>
       <span class="kp">-moz-</span><span class="k">user-select</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span> <span class="c">/* Firefox */</span>
        <span class="kp">-ms-</span><span class="k">user-select</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span> <span class="c">/* Internet Explorer/Edge */</span>
            <span class="k">user-select</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span> <span class="c">/* Non-prefixed version, currently</span>
<span class="c">                                  supported by Chrome and Opera */</span>
<span class="p">}</span>
</code></pre></div>

<h2>Sidebar</h2>

<p><strong>Reference</strong>
* <a href="https://www.w3schools.com/w3css/w3css_sidebar.asp">w3 Notes</a>
* <a href="https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp">Fixed Sidebar</a></p>

<h3>Html</h3>

<div class="codehilite"><pre><span></span><code><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;top&quot;</span><span class="p">&gt;</span>
    TOP
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;left&quot;</span><span class="p">&gt;</span>
    LEFT
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;main&quot;</span><span class="p">&gt;</span>
    MAIN
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</code></pre></div>

<h3>css</h3>

<div class="codehilite"><pre><span></span><code><span class="p">.</span><span class="nc">top</span> <span class="p">{</span>
    <span class="k">position</span><span class="p">:</span><span class="kc">absolute</span><span class="p">;</span>
    <span class="k">left</span><span class="p">:</span><span class="mi">0</span><span class="p">;</span> <span class="k">right</span><span class="p">:</span><span class="mi">0</span><span class="p">;</span>
    <span class="k">height</span><span class="p">:</span> <span class="mi">92</span><span class="kt">px</span><span class="p">;</span>
<span class="p">}</span>
<span class="p">.</span><span class="nc">left</span> <span class="p">{</span>
    <span class="k">position</span><span class="p">:</span><span class="kc">absolute</span><span class="p">;</span>
    <span class="k">left</span><span class="p">:</span><span class="mi">0</span><span class="p">;</span> <span class="k">top</span><span class="p">:</span><span class="mi">92</span><span class="kt">px</span><span class="p">;</span> <span class="k">bottom</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span>
    <span class="k">width</span><span class="p">:</span> <span class="mi">178</span><span class="kt">px</span><span class="p">;</span>
<span class="p">}</span>
<span class="p">.</span><span class="nc">main</span> <span class="p">{</span>
    <span class="k">position</span><span class="p">:</span> <span class="kc">absolute</span><span class="p">;</span>
    <span class="k">left</span><span class="p">:</span><span class="mi">178</span><span class="kt">px</span><span class="p">;</span> <span class="k">top</span><span class="p">:</span><span class="mi">92</span><span class="kt">px</span><span class="p">;</span> <span class="k">right</span><span class="p">:</span><span class="mi">0</span><span class="p">;</span> <span class="k">bottom</span><span class="p">:</span><span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>

<span class="p">.</span><span class="nc">top</span> <span class="p">{</span> <span class="k">background</span><span class="p">:</span> <span class="kc">blue</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">left</span> <span class="p">{</span> <span class="k">background</span><span class="p">:</span> <span class="kc">red</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">main</span> <span class="p">{</span> <span class="k">background</span><span class="p">:</span> <span class="kc">yellow</span><span class="p">;</span> <span class="p">}</span>
</code></pre></div>

<h2>Link</h2>

<h3>Different URL Forms</h3>

<ul>
<li>https://html.com/attributes/a-href/</li>
</ul>

<p>The URL may be:</p>

<p>Fully Qualified (include a protocol)</p>

<p><code>https://html.com</code></p>

<p><code>https://html.com</code></p>

<p>URL with a relative (unspecified) protocol</p>

<p><code>//html.com</code></p>

<p>Browser-specific protocol</p>

<p><code>chrome://settings/</code></p>

<p>Relative to the current page</p>

<p><code>next</code></p>

<p>Relative to the current domain</p>

<p><code>/</code></p>

<p><code>/wp-content/uploads/flamingo.jpg</code></p>

<h2>Values of the href Attribute</h2>

<p>Value Name</p>

<p>Notes</p>

<p>url</p>

<p>The URL (URI) of the linked resource.</p>

<h2>All Attributes of the  <a href="https://html.com/tags/a/">&lt;code&gt;anchor&lt;/code&gt;</a>  Element</h2>

<p>Read more:  <a href="https://html.com/attributes/a-href/#ixzz5p4NZTxJ3">https://html.com/attributes/a-href/#ixzz5p4NZTxJ3</a>
<!--stackedit_data:
eyJoaXN0b3J5IjpbLTE1Nzk4NDk4MzIsOTg2OTU4MjI3LC04Nz
E4MzI1NjYsNDc0ODkzMjE4LDg2NDI1NTQ1NiwtOTM3Njc5MTg2
XX0=
--></p>
