<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Notebook</title>
<!--      <script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>-->

      <style>
        #namanyay-search-btn {
        background:#0099ff;
        color:white;
        font: 'trebuchet ms', trebuchet;
        padding:10px 20px;
        border-radius:0 10px 10px 0;
        -moz-border-radius:0 10px 10px 0;
        -webkit-border-radius:0 10px 10px 0;
        -o-border-radius:0 10px 10px 0;
        border:0 none;
        font-weight:bold;
        }

        #namanyay-search-box {
        background: #eee;
        padding:10px;
         border-radius:10px 0 0 10px;
        -moz-border-radius:10px 0 0 10px;
        -webkit-border-radius:10px 0 0 10px;
        -o-border-radius:10px 0 0 10px;
        border:0 none;
        width:160px;
         }

        .sticky {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
        }
      </style>

      <!--sidebar css-->
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sidebar.css') }}">
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/tree_view.css') }}">

  </head>

    <button onclick="enable_docnado()" class="button_switch sticky" style="background-color:#f14e4e; margin-left: 300px">Documents</button>
    <button onclick="enable_board()" class="button_switch sticky" style="background-color:#f14e4e">Board</button>
    <button onclick="enable_search()" class="button_switch sticky" style="background-color:#f14e4e">Search</button>

    <form id="searchthis" action="/search" style="display:inline;" method="get" class="sticky">
      <!-- Search box for blogger by Namanyay Goel //-->
      <input id="namanyay-search-box" name="q" size="40" type="text" placeholder="  Search ... "/>
      <input id="namanyay-search-btn" value="Search" type="submit"/>
    </form>

    <div id="mySidebar" class="sidebar CboardSidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <input type="text" id="searchbox" onkeyup="search()" placeholder="filter.." title="Type a file">
      <!-- SIDEBAR TREE -->

      {{ board_tree|safe }}

      <!-- SIDEBAR TREE -->

    </div>

    <div id="main" class="CboardSidebar">
      <button class="openbtn" onclick="ToggleNav()">☰ Toggle Sidebar</button>
      <iframe id="frame_cartello" scrolling="yes" width="100%" height="100%" frameborder="0" src="{{ cartello_html }}" ></iframe>
    </div>

    <iframe id="frame_docnado" scrolling="yes" width="100%" height="100%" frameborder="0" src="{{ docnado_webpage }}" style="display:none"></iframe>
    <!--SIDEBAR-->
    <iframe id="frame_search" scrolling="yes" width="100%" height="100%" frameborder="0" src="" style="display:none"></iframe>


  <script type="text/javascript" src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tree_view.js') }}"></script>

  <script type = "text/javascript">

  function enable_docnado() {
  let frame_docnado = document.getElementById("frame_docnado");
  let frame_search = document.getElementById("frame_search");
  let frame_board = document.getElementsByClassName("CboardSidebar");

  frame_docnado.style.display = "block";
  frame_search.style.display = "none";
  for (i=0; i<frame_board.length; i++){
    frame_board[i].style.display = "none";
  }
}

function enable_board() {
  let frame_docnado = document.getElementById("frame_docnado");
  let frame_search = document.getElementById("frame_search");
  let frame_board = document.getElementsByClassName("CboardSidebar");

  frame_docnado.style.display = "none";
  frame_search.style.display = "none";
  for (i=0; i<frame_board.length; i++){
    frame_board[i].style.display = "block";
  }
}

function enable_search() {
  let frame_docnado = document.getElementById("frame_docnado");
  let frame_search = document.getElementById("frame_search");
  let frame_board = document.getElementsByClassName("CboardSidebar");

  frame_docnado.style.display = "none";
  frame_search.style.display = "block";
  for (i=0; i<frame_board.length; i++){
    frame_board[i].style.display = "none";
  }
}

function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}


function restore_tree(){
    var input, filter, table, p, i;
    input = document.getElementById("searchbox");
    filter = input.value.toUpperCase();
    left_sidebar = document.getElementById("mySidebar");
    p = left_sidebar.getElementsByTagName("a");
    
    var elems = left_sidebar.getElementsByClassName("caret");  /* folders */  
    /* display the tree */    
    for(var i = 0; i < elems.length; i++)
    {
      elems[i].style.display = "block";  /* display the tree */
    }

    /* remove list_search elements */
    list_search_elements = document.getElementsByClassName("list_search");
    for (i=0; i < list_search_elements.length; i++){
        removeElement(list_search_elements[i]);
    }

    /* show files elements */
    list_search_elements = left_sidebar.getElementsByTagName("a");
    for (i=0; i < list_search_elements.length; i++){
        list_search_elements[i].style.display = "block";
    }
}


function removeElement(element) {
    // Removes an element from the document
    //var element = document.getElementById(elementId);
    //element.parentNode.removeChild(element);
    while (element.firstChild) {
    element.removeChild(element.firstChild);
    }
}

function search() {
    restore_tree();

    /* Note: search is based on the div id */
    var input, filter, table, p, i;
    input = document.getElementById("searchbox");
    filter = input.value.toUpperCase();
    left_sidebar = document.getElementById("mySidebar");
    p = left_sidebar.getElementsByTagName("a");
    result_filelist_html = ""

    for (i = 0; i < p.length; i++) {
        filename = p[i].text
        if (filename === '×'){
            continue  /* skip the close nav button*/
        }
        else if (filename.toUpperCase().indexOf(filter) > -1) {
                if (p[i].style.display == "" || p[i].style.display == "block"){
                    let new_tag = p[i]
                    var node = document.createElement("LI");
<!--                    new_tag.textContent = new_tag.textContent + " (" + new_tag.href.replace("%20", " ") + ")";-->
<!--                    new_tag.-->
                    node.appendChild(new_tag);
                    node.classList.add("list_search");
                    document.getElementById("myUL").appendChild(node);
                    p[i].style.display = "";
                }
            } else {
                p[i].style.display = "none";
            }
    }

    /* hide the tree */
    var elems = left_sidebar.getElementsByClassName("caret");  /* folders */
    if (! input.value.length == 0){
      for(var i = 0; i < elems.length; i++)
      {
        elems[i].style.display = "none";  /* hide the tree */
      }
    }
    else{
        restore_tree();
    }


}


window.onload = openNav();


  </script>


  </body>


</html>
