<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Notebook</title>
<!--      <script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>-->

      <style>
        #namanyay-search-btn {
        background:#0099ff;
        color:white;
        font: 'trebuchet ms', trebuchet;
        padding:10px 20px;
        border-radius:0 10px 10px 0;
        -moz-border-radius:0 10px 10px 0;
        -webkit-border-radius:0 10px 10px 0;
        -o-border-radius:0 10px 10px 0;
        border:0 none;
        font-weight:bold;
        }

        #namanyay-search-box {
        background: #eee;
        padding:10px;
         border-radius:10px 0 0 10px;
        -moz-border-radius:10px 0 0 10px;
        -webkit-border-radius:10px 0 0 10px;
        -o-border-radius:10px 0 0 10px;
        border:0 none;
        width:160px;
         }

        .sticky {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
        }

        body {
          margin: 0px;
        }
      </style>

      <!--sidebar css-->
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sidebar.css') }}">
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/tree_view.css') }}">
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/navbar.css') }}">

  </head>

    <!--NAVBAR-->
    <div class="topnav">
<!--      <a class="active" onclick="enable_docnado()" href="">Documents</a>-->
<!--      <a href="" onclick="enable_board()">Board</a>-->
<!--      <a href="" onclick="enable_search()">Search</a>-->
      <a id="btn_docnado" class="active" onclick="enable_docnado()">Documents</a>
      <a id="btn_board" onclick="enable_board()">Board</a>
      <a id="btn_search" onclick="enable_search()">Search</a>
    </div>

<!--ELEMENTS WITHOUT NAVBAR-->
<!--    <button onclick="enable_docnado()" class="button_switch sticky" style="background-color:#f14e4e; margin-left: 300px">Documents</button>-->
<!--    <button onclick="enable_board()" class="button_switch sticky" style="background-color:#f14e4e">Board</button>-->
<!--    <button onclick="enable_search()" class="button_switch sticky" style="background-color:#f14e4e">Search</button>-->

<!--    <form id="searchthis" action="/search" style="display:inline;" method="get" class="sticky">-->
<!--      &lt;!&ndash; Search box for blogger by Namanyay Goel //&ndash;&gt;-->
<!--      <input id="namanyay-search-box" name="q" size="40" type="text" placeholder="  Search ... "/>-->
<!--      <input id="namanyay-search-btn" value="Search" type="submit"/>-->
<!--    </form>-->

    <div id="mySidebar" class="sidebar CboardSidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <input type="text" id="searchbox" onkeyup="search()" placeholder="filter.." title="Type a file" class="sidebar_search">
      <button onclick="expand_collapse_all()" class="sidebar_btn" style="background-color:#f14e4e">Expand All</button>
      <button onclick="expand_collapse_all('collapse')" class="sidebar_btn" style="background-color:#f14e4e">Collapse All</button>

      <!-- SIDEBAR TREE -->

      {{ board_tree|safe }}

      <li><a style="color: rgb(94, 255, 198);"></a></li>
      <li><a style="color: rgb(94, 255, 198);"></a></li>
      <li><a style="color: rgb(94, 255, 198);"></a></li>
      <li><a style="color: rgb(94, 255, 198);"></a></li>
      <!-- SIDEBAR TREE -->

    </div>

    <div id="main" class="CboardSidebar">
      <button class="openbtn" onclick="ToggleNav()">☰ Toggle Sidebar</button>
      <iframe id="frame_cartello" scrolling="yes" width="100%" height="100%" frameborder="0" src="{{ cartello_html }}" ></iframe>
    </div>

    <iframe id="frame_docnado" scrolling="yes" width="100%" height="100%" frameborder="0" src="{{ docnado_webpage }}" style="display:none"></iframe>
    <!--SIDEBAR-->
    <iframe id="frame_search" scrolling="yes" width="100%" height="100%" frameborder="0" src="" style="display:none"></iframe>


  <script type="text/javascript" src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tree_view.js') }}"></script>

  <script type = "text/javascript">

  function enable_docnado() {
  let frame_docnado = document.getElementById("frame_docnado");
  let frame_search = document.getElementById("frame_search");
  let frame_board = document.getElementsByClassName("CboardSidebar");

  frame_docnado.style.display = "block";
  frame_search.style.display = "none";
  for (i=0; i<frame_board.length; i++){
      frame_board[i].style.display = "none";
  }

  /* set nav colors */
  let btn_docnado =  document.getElementById("frame_docnado");
  let btn_board =  document.getElementById("frame_cartello");
  let btn_search =  document.getElementById("frame_search");
}

function enable_board() {
  let frame_docnado = document.getElementById("frame_docnado");
  let frame_search = document.getElementById("frame_search");
  let frame_board = document.getElementsByClassName("CboardSidebar");

  frame_docnado.style.display = "none";
  frame_search.style.display = "none";
  for (i=0; i<frame_board.length; i++){
    frame_board[i].style.display = "block";
  }
}

function enable_search() {
  let frame_docnado = document.getElementById("frame_docnado");
  let frame_search = document.getElementById("frame_search");
  let frame_board = document.getElementsByClassName("CboardSidebar");

  frame_docnado.style.display = "none";
  frame_search.style.display = "block";
  for (i=0; i<frame_board.length; i++){
    frame_board[i].style.display = "none";
  }
}

function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}


function search_() {
    /* Note: search is based on the div id */
    var input, filter, table, p, i;
    input = document.getElementById("searchbox");
    filter = input.value.toUpperCase();
    left_sidebar = document.getElementById("mySidebar");
    p = left_sidebar.getElementsByTagName("a");

    for (i = 0; i < p.length; i++) {
        var text = p[i].textContent;
        if (text.toUpperCase().indexOf(filter) > -1) {
            p[i].style.display = "";
        } else {
            p[i].style.display = "none";
        }
    }
}


function init(){
    /* Set color files */
    myul_element = document.getElementById("myUL");
    a = myul_element.getElementsByTagName("a");
    for(i=0; i < a.length; i++){
        a[i].style.color = "#5effc6";
    }

    /* Center searchbox and buttons in the sidebar */
    sidebar = document.getElementsByClassName("sidebar")[0];
    searchbox = document.getElementsByClassName("sidebar_search")[0];

    searchbox_margin = (sidebar.clientWidth - searchbox.clientWidth) / 2;

    searchbox.style.marginLeft = searchbox_margin;
    searchbox.style.marginRight = searchbox_margin;

    /* set padding navbar */
    document.getElementsByClassName('topnav')[0].style.paddingLeft = sidebar.clientWidth + 100;
}

function search() {
    /* Note: search is based on the div id */
    var input, filter, table, p, i;
    input = document.getElementById("searchbox");
    filter = input.value.toUpperCase();
    left_sidebar = document.getElementById("mySidebar");
    p = left_sidebar.getElementsByTagName("a");

    for (i = 0; i < p.length; i++) {
        var text = p[i].textContent;
        if (text.toUpperCase().indexOf(filter) > -1) {
            p[i].style.display = "";
        } else {
            p[i].style.display = "none";
        }
    }

    
    if (input.value.length == 0){
        expand_collapse_all("collapse");
    }
    else{
        expand_collapse_all(); 
    }
}



window.onload = openNav();
window.onload = init();


  </script>


  </body>


</html>
