<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Notebook</title>
<!--      <script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>-->
      <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery-3.2.1.slim.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-4.0.0.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='lib/highlight-9.12.0.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='lib/bootbox-4.4.0.min.js') }}"></script>

<!--      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">-->
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='lib/highlightjs-9.12.0.min.css') }}">
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='lib/bootstrap-4.0.0.min.css') }}">
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='lib/font-awesome-4.7.0.min.css') }}">

      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='default.css') }}">
  </head>

<style>

</style></head>



  <body data-gr-c-s-loaded="true">
    <iframe id="frame_docnado" width="100%" height="100%" frameborder="0" src="{{ docnado_webpage }}"></iframe>
    <iframe id="frame_cartello" width="100%" height="100%" frameborder="0" src="cartello/site/test.html"></iframe>

    <header class="navbar navbar-light page-headbar">
        <button class="navbar-toggler page-togglesidebar-main" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">

        <button onclick="enable_view('frame_docnado', ['frame_docnado', 'frame_cartello'])" class="button_switch" style="background-color:#f14e4e">Documents</button>
        <button onclick="enable_view('frame_cartello', ['frame_docnado', 'frame_cartello'])" class="button_switch" style="background-color:#f14e4e">Board</button>
        <button onclick="enable_view('frame_search', ['frame_docnado', 'frame_cartello', 'frame_search'])" class="button_switch" style="background-color:#f14e4e">Search</button>

            <!-- Project Name -->

        </a>
        <nav class="nav">
            <a class="nav-link" href="#" onclick="window.print();">Print</a>

        </nav>
    </header>

    <aside class="page-sidebar">
        <ul class="tree-nav tree-root">

            <!-- Navigation bar space element -->
            <li class="tree-leaf">
                <a href=""><span></span></a>
            </li>

            <!-- expandable element -->
            <li>
                <input type="checkbox" id="#nav-Projects">
                <label for="#nav-Projects">
                    <i class="tree-icon fa fa-fw fa-chevron-down"></i>
                    <span>Projects</span>
                </label>

                <ul class="tree-nav">
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/w/Projects/test.md"><span>Test</span></a>
                    </li>
                </ul>
            </li>

            <!-- single element -->
            <li class="tree-leaf">
                <i class="fa fa-circle-thin" aria-hidden="true"></i>
                <a href="/w/Batch.md"><span>Batch</span></a>
            </li>


        </ul>
    </aside>


    <section class="page-main">

    <div class="page-content">
    <!-- CONTENT -->
        <iframe id="log_frame" src="{{ cartello_html }}" width="100%" height="100%"></iframe>
    </div>

    </section>



  <script type = "text/javascript">
function enable_view(element, elements) {
  var x = document.getElementById(element);
  x.style.display = "block";  // enable the element

  // disable all the rest
  for(i=0; i < elements.length; i++) {
      if (elements[i] == element){
        continue;
      }

    var y = document.getElementById(elements[i]);
      if (y.style.display === "none") {
        y.style.display = "block";
      } else {
        y.style.display = "none";
      }
  }
}
  </script>

      <script type="text/javascript">

    $(document).ready(function() {

        // Sidebar functionality.
        $('.page-togglesidebar-main').click(function(){
            $('body').toggleClass('page-sidebar-closed')
        });

        // Apply code highlighting.
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });

        // Apply CSS to all tables.
        $('.page-md table').addClass('table thead-light table-hover');

        // Set images to lightbox.
        $('.page-md img').on('click', function(event) {
            var imgsrc = $(this).attr('src');
            bootbox.alert({
                message: '<img src="'+imgsrc+'" style="width:100%; height:auto;"></img>',
                backdrop: true,
                closeButton: false,
                size: 'large'
            });
        });
    });
    </script>

  </body>


</html>
